body{
	background: url(flowers.jpg) no-repeat center center fixed;
	background-size: cover;
}

.hero{
	color: #fff;
	margin-top: 20%;
	text-align: center;
	font-size: 75px;
	line-height: 1.1em;
	font-family: 'Aguafina Script', cursive;
}

.image{
	height: 150px;
	width: 250px;
}
